@using bysj
<div class="legal" ng-controller="app.views.layout.sidebarFooter as vm">
    <div class="copyright">
        &copy; {{vm.currentYear}} <a href="javascript:void(0);">bysj</a>.
    </div>
    <div class="version">
        <b>Version </b> v1.0.0.0 [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</div>